<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input type="text" class="form-control" formControlName="first_name" #first_name [(ngModel)] = "user.first_name"/>
      </div>
      <div *ngIf="angForm.controls['first_name'].invalid && (angForm.controls['first_name'].dirty || angForm.controls['first_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['first_name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">LastName</label>
        <input type="text" class="form-control" formControlName="last_name" #last_name [(ngModel)] = "user.last_name"/>
      </div>
      <div *ngIf="angForm.controls['last_name'].invalid && (angForm.controls['last_name'].dirty || angForm.controls['last_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['last_name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">IBAN</label>
        <input type="text" class="form-control" formControlName="iban" #iban [(ngModel)] = "user.iban" />
      </div>
      <div *ngIf="angForm.controls['iban'].invalid && (angForm.controls['iban'].dirty || angForm.controls['iban'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['iban'].errors.required">
          IBAN is required.
        </div>
      </div>
        <div class="form-group">
          <button (click)="updateUser(first_name.value, last_name.value, iban.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Update</button>
        </div>
    </form>
  </div>
</div>
