<table class="table table-hover" *ngIf="registerUser; else noRegistrado">
  <thead>
  <tr>
      <td>User Name</td>
      <td>User LastName</td>
      <td>User IBAN</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr id="register_{{user.id}}" *ngFor="let user of users">
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.iban }}</td>
          <td><a  [routerLink]="['/edit', user.id]" class="btn btn-primary">Edit</a></td>
          <td><button (click)="deleteUser(user.id)"  class="btn btn-danger">Delete</button></td>
      </tr>
  </tbody>
</table>
<ng-template #noRegistrado>

<table class="table table-hover">
  <thead>
  <tr>
      <td>User Name</td>
      <td>User LastName</td>
      <td>User IBAN</td> 
  </tr>
  </thead>

  <tbody>
      <tr id="register_{{user.id}}"  *ngFor="let user of users">
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.iban }}</td> 
      </tr>
  </tbody>
</table>

</ng-template>