<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" formControlName="first_name" #first_name/>
        </div>
        <div *ngIf="angForm.controls['first_name'].invalid && (angForm.controls['name'].dirty || angForm.controls['first_name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['first_name'].errors.required">
            Name is required.
          </div>
        </div>

        
        <div class="form-group">
          <label class="col-md-4">Last Name</label>
          <input type="text" class="form-control" formControlName="last_name" #last_name />
        </div>
        <div *ngIf="angForm.controls['last_name'].invalid && (angForm.controls['last_name'].dirty || angForm.controls['last_name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['last_name'].errors.required">
            LastName is required.
          </div>
        </div>



        <div class="form-group">
          <label class="col-md-4">IBAN</label>
          <input type="text" class="form-control" ngxIban formControlName="iban" #iban/>
        </div>
        <div *ngIf="angForm.controls['iban'].invalid && (angForm.controls['iban'].dirty || angForm.controls['iban'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['iban'].errors.required">
            IBAN is required.
          </div>
        </div>
          <div class="form-group">
            <button (click)="addUser(first_name.value, last_name.value, iban.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
          </div>
      </form>
    </div>
  </div>
